/**GENERAL**/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Lora:ital,wght@0,400..700;1,400..700&family=Luckiest+Guy&family=Nokora:wght@100;300;400;700;900&display=swap');

/* Default styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  color: #6C5E57;
  background-color: #D2C9C5;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Navigation and Hamburger Menu */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: center;
  background-color: #6C5E57;
}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-menu li {
  padding: 15px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

/* Sections */
.section {
  padding:30px;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  
  .nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6C5E57;
    z-index: 1000;
  }

  .nav-menu.open {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
  }

  .nav-menu li {
    padding: 15px;
  }

  .section {
    padding: 20px;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .popup {
    width: 90%;
    max-width: 400px; /* Adjust max width for smaller screens */
    left: 50%;
    transform: translateX(-50%);
  }
}

/*HOME SECTION*/
.name{
  color:#6C5E57;
  font-family: "Luckiest Guy", cursive;
  font-size: 88px;
  margin-top:-90px;
  margin-left:230px;
  position: absolute;
  z-index: 0;
  letter-spacing: 6px;
}

.PortfolioCover {
  position: absolute;
  width:450px;
  height: auto;
  margin-left:500px;
  margin-top:-390px;
  z-index: -5;
  transform: translateX(-50%);
  animation: swirl 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; /* Apply the swirl animation */
}

@keyframes swirl {
  0% {
    transform: scale(0) rotate(0deg); /* Initial position */
  }
  100% {
    transform: scale(1) rotate(360deg); /* Expanded size and full rotation */
  }
}

/*ABOUT ME SECTION*/
.aboutmecontainer{
  position:relative;
  margin-left: -830px;
  margin-top: 50px;
}

.About{
  width:750px;
  margin-top: -330px;
  margin-left: -190px;
  position: absolute;
}

.AMdogs{
  width:290px;
  margin-left: 460px;
  margin-top: -190px;
  position: absolute;
}

.Me{
  width:400px;
  margin-left: 610px;
  margin-top: 5px;
  position: absolute;
}

.AMfriends{
  width:220px;
  margin-left: 320px;
  margin-top:110px;
  position: absolute;
}

.AMcircle1{
  width:290px;
  position: absolute;
  margin-left: -20px;
  margin-top: 110px;
}

.AMcircle2{
  width:390px;
  position: absolute;
  margin-left: 220px;
  margin-top:280px;
}

.AMcircle3{
  width: 260px;
  position: absolute;
  margin-left: 610px;
  margin-top:530px;
}

.AM2pic{
  width: 380px;
  position: absolute;
  margin-left: -50px;
  margin-top:420px;
}

/*LEARNING OUTCOMES SECTION*/
.section h2{
  font-family: "Luckiest Guy", cursive;
  font-weight: bold;
  font-size: 55px;
  margin-bottom: 60px;
  color: #6C5E57;
  text-align: center;
  letter-spacing: 3px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  text-align: center;
  border-radius: 18px;
  padding: 20px;
  margin: 40px;
  width: 350px;
  height: 130px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*each card */
.card:nth-child(1) {
  background-color: #685a52;
}
.card:nth-child(2) {
  background-color: #79685f;
}
.card:nth-child(3) {
  background-color: #90786d;
}
.card:nth-child(4) {
  background-color: #a68d82;
}
.card:nth-child(5) {
  background-color: #b2a098;
}

.card h3{
  font-family: "Nokora", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #efe7e4;
  text-align: center;
  cursor: default;
}

.project-button {
  margin-top:15px;
  margin-left:-5px;
  background-color: transparent;
  border:1px solid #D2C9C5;
  color: #D2C9C5;
  padding: 8px 15px;
  text-align: center;  
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}

.project-button:hover {
  background-color: transparent;
  border:2px solid #e9e3e0;
  color: #e9e3e0;
  font-weight: bolder;
}

.popup {
  display: none;
  position: fixed;
  width: 900px;
  max-height: 1000px;
  top: 2%;
  left: 13%;
  background-color: #6C5E57;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color:#D2C9C5;
  font-size: 34px;
  transition: 0.2s, top 0.2s;
  background-color: transparent;
  border: none; /* Reset border */
  outline: none; /* Reset outline */
}

.close-btn:hover {
  font-size: 44px;
  color: #E5AD6C;
}

/*POPUP 1*/
/** vertical title**/
.VerticalTitle1{
  margin-left:-870px;
  font-family: "Luckiest Guy", cursive;
  font-weight: bold;
  font-size: 37px;
  margin-top: 5px;
  color: #D2C9C5;
  text-align: center;
  letter-spacing: 3px;
  cursor: default;
}

.VerticalTitle2{
  position: absolute;
  margin-left:380px;
  font-family: "Luckiest Guy", cursive;
  font-weight: bold;
  font-size: 37px;
  margin-top:-260px;
  color: #D2C9C5;
  text-align: center;
  letter-spacing: 3px;
  cursor: default;
}

/**subtitle**/
.subtitle{
  position: absolute;
  font-family: "Lora", serif;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: #efe7e4;
  cursor:default;
  margin-left:60px;
  margin-top:-395px;
  width:30%;
}

/**Project Summary text**/
.ProjectSummary{
  position: absolute;
  font-family: "Lora", serif;
  text-align: center;
  font-weight: 200;
  font-size: 13px;
  margin-left: 65px;
  width:30%;
  color: #efe7e4;
  top:60px;
  cursor:default;
  line-height: 20px;
  text-align: justify;
}

/**images re-branding**/
.image-container {
  position:relative;
}

.SlapenKind{
  position:absolute;
  width: 180px;
  height: auto;
  right:300px;
  top:-370px;
  border-radius: 20px;
}

.Eye{
  position:absolute;
  width: 180px;
  height: 165px;
  right:30px;
  top:-370px;
  border-radius: 20px;
}

.AboutMeNS{
  position:absolute;
  width: 180px;
  height: auto;
  right:160px;
  top:-230px;
  border-radius: 20px;
}

.ContactMeNS{
  position:absolute;
  width: 180px;
  height: 160px;
  right:300px;
  top:-120px;
  border-radius: 20px;
}

.Citroenen{
  position:absolute;
  width: 180px;
  height: 160px;
  right:30px;
  top:-120px;
  border-radius: 20px;
}

.NStools{
  position:absolute;
  width: 340px;
  height: auto;
  left:70px;
  top:530px;
}

.textbox {
  position: absolute;
  font:"Londrina Solid", sans-serif;
  text-align: center;
  color: #D2C9C5;
  width: 40%;
  border: 3px dashed #E5AD6C;
  border-radius: 10px;
  padding: 15px;
  right: 90px;
  top:510px;
}

.NSFigma{
  position:absolute;
  width:840px;
  height: auto;
  right:10px;
  top:630px;
}

.ReflectionTitle{
  position: absolute;
  margin-left:120px;
  font-family: "Luckiest Guy", cursive;
  font-weight: bold;
  font-size: 38px;
  margin-top:310px;
  color: #D2C9C5;
  text-align: center;
  letter-spacing: 13px;
}

.ReflectionText1{
  position: absolute;
  font-family: "Lora", serif;
  text-align: center;
  font-weight: 200;
  font-size: 13px;
  margin-left: 40px;
  width:52%;
  color: #efe7e4;
  top:800px;
  cursor:default;
  line-height: 20px;
  text-align: justify;
}

.ReflectionText2{
  position: absolute;
  font-family: "Lora", serif;
  font-weight: 200;
  font-size: 13px;
  right: 50px;
  width:37%;
  color: #efe7e4;
  top:1055px;
  cursor:default;
  line-height: 20px;
  text-align: justify;
}

.video-container {
  position: relative;
  width: 82%; 
}

.video1 {
  width: 60%; /* Ensure the video fills its container */
  height: auto;
  border-radius: 10px;
  margin-top: 665px; 
  margin-left: -220px;
}

.DocumentationTitle{
  margin-left:-380px;
  margin-top:30px;
  font-family: "Luckiest Guy", cursive;
  font-weight: bold;
  font-size: 38px;
  color: #D2C9C5;
  letter-spacing: 13px;
}

.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:-470px;
  margin-top: 20px;
}

.documentationBUTTON{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#FFFFFF;
  background-color: #E5AD6C;
  border-color: transparent;
  border-radius: 13px;
  padding:8px 23px;
  letter-spacing: 1px;
  width:180px;
  margin-bottom: 25px;
  cursor: pointer;
}

.documentationBUTTON:hover{
 background-color: #a8948b;
}

.Brandguide{
  position: absolute;
  width:460px;
  height:auto;
  margin-left:-25px;
  margin-top:-325px;
  border-radius: 20px;
}

.sidenote{
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 20px;
  color: #D2C9C5;
  cursor:default;
  margin-left:60px;
  margin-top:15px;
  width:90%;
}

.Stylescape{
  position: absolute;
  width:870px;
  height:auto;
  margin-left:-430px;
  margin-top:15px;
  border-radius: 20px;
}

/**OCTO-COOKED PROJECT**/
.GradientCircles1 {
  position: relative;
  z-index: -200;
}

.darkcircle1 {
  background-color: #90786D;
  height: 1120px;
  width: 1120px;
  border-radius: 50%;
  position: absolute;
  top: 355px;
  left: -100px;
}

.mediumcircle1 {
  background-color: #B2A098;
  height: 1050px;
  width: 1050px;
  border-radius: 50%;
  position: absolute;
  top: 390px;
  left: -65px;
}

.lightcircle1 {
  background-color: #D2C9C5;
  height: 980px;
  width: 980px;
  border-radius: 50%;
  position: absolute;
  top: 425px;
  left: -30px;
}

.OctoCookedTitle{
  font-family: "Luckiest Guy", cursive;
  font-weight: bold;
  font-size: 38px;
  color: #6C5E57;
  letter-spacing: 13px;
  position: absolute;
  margin-top: 50%;
  left: 295px;
}

.OctoCookedText1{
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 13px;
  margin-left: 130px;
  width:20%;
  color: #6C5E57;
  margin-top:600px;
  cursor:default;
  line-height: 20px;
  text-align: justify;
}

.OctoCookedText2{
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 13px;
  margin-left: 595px;
  width:20%;
  color: #6C5E57;
  margin-top:-255px;
  cursor:default;
  line-height: 20px;
  text-align: justify;
  z-index: 200;
}

.OctoCookedLogo{
  width:210px;
  position: absolute;
  margin-top:-245px;
  margin-left:-110px;
}

/**IMAGE SLIDESHOW OCTOCOOKED**/
.slider-container {
  position: relative;
}

.slider {
  overflow: hidden;
  white-space: nowrap;
}

.slider img {
  display: inline-block;
  width: 450px;
  border-radius: 20px;
  margin-left: 250px;
  margin-top: 15px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  background-color:#90786D;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev:hover,
.next:hover {
  background-color: #E5AD6C;
}

/* Adjusting the positions for the buttons */
.prev {
  left: 205px;
}

.next {
  right:150px;
}

.OctoCookedText3{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 290px;
  width:40%;
  color: #fcf6f6;
  margin-top:35px;
  cursor:default;
  line-height: 30px;
  text-align: center;
  z-index: 200;
  background-color: #E5AD6C;
  border-radius: 20px;
  padding:10px;
  letter-spacing: 1px;
}

/**LEARNING OUTCOME 2 popup contents**/
.PortfolioTitle{
  margin-left:540px;
  margin-top:50px;
  font-family: "Luckiest Guy", cursive;
  font-weight: bold;
  font-size: 38px;
  color: #D2C9C5;
  text-align: center;
  letter-spacing: 13px;
}

.PortfolioCoverPOPUP{
width:260px;
margin-top: -155px;
margin-left: -120px;
}

.introTEXTpopup2{
width:22%;
text-align: justify;
font-family: "Lora", serif;
font-weight: 200;
font-size: 13px;
color: #efe7e4;
cursor:default;
line-height: 20px;
margin-top: -190px;
margin-left: 20px;
}

.portfolioTEXT{
font-family: "Londrina Solid", sans-serif;
font-weight: 500;
font-size: 16px;
margin-left: 275px;
margin-top:-200px;
width:65%;
color: #fcf6f6;
cursor:default;
line-height: 25px;
text-align: center;
z-index: 200;
background-color: #E5AD6C;
border-radius: 20px;
padding:10px;
letter-spacing: 1px;
}

/**pokemon workshop 1**/
.GradientCircles2 {
position: relative;
z-index: 2090388247;
margin-top: -300px;
margin-left: -20px;
}

.darkcircle2 {
background-color: #90786D;
height: 1120px;
width: 1120px;
border-radius: 50%;
position: absolute;
top: 355px;
left: -100px;
}

.mediumcircle2 {
background-color: #B2A098;
height: 1050px;
width: 1050px;
border-radius: 50%;
position: absolute;
top: 390px;
left: -65px;
}

.lightcircle2 {
background-color: #D2C9C5;
height: 980px;
width: 980px;
border-radius: 50%;
position: absolute;
top: 425px;
left: -30px;
}

.PokemonTitle{
  margin-left:280px;
  margin-top:470px;
  font-family: "Luckiest Guy", cursive;
  font-weight: bold;
  font-size: 38px;
  color: #6C5E57;
  letter-spacing: 13px;
  z-index: 100000;
  position: absolute;
}

/**LEARNING OUTCOME 3 popup contents**/
.button-container2{
  display: flex;
  flex-direction: column;
  z-index: 32873887827;
  position: relative;
}

.figmaBUTTON{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#FFFFFF;
  background-color: #E5AD6C;
  border-color: transparent;
  border-radius: 13px;
  padding:8px 23px;
  letter-spacing: 1px;
  width:180px;
  cursor: pointer;
  margin-top: 2480px;
  position: absolute;
}

.figmaBUTTON:hover{
  background-color: #a8948b;
 }

 .documentationBUTTON2{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#FFFFFF;
  background-color: #E5AD6C;
  border-color: transparent;
  border-radius: 13px;
  padding:8px 23px;
  letter-spacing: 1px;
  width:180px;
  cursor: pointer;
  z-index: 32873887827;
  margin-top: 3530px;
  margin-left: -420px;
  position: absolute;
}

.documentationBUTTON2:hover{
  background-color: #a8948b;
 }

 .documentationBUTTON3{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#FFFFFF;
  background-color: #E5AD6C;
  border-color: transparent;
  border-radius: 13px;
  padding:8px 23px;
  letter-spacing: 1px;
  width:180px;
  cursor: pointer;
  z-index: 32873887827;
  margin-top: 3600px;
  margin-left: -420px;
  position: absolute;
}

.documentationBUTTON3:hover{
  background-color: #a8948b;
 }

 .LO3{
  position: relative;
  width: 940px;
  margin-top: -40px;
  margin-left: -40px;
  margin-bottom: 420px;
  background-color: #6C5E57;
  padding: 20px;
  border-radius: 8px;
  z-index: -1083784730;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/**LEARNING OUTCOME 4 popup contents**/
.ContentStrategyBUTTON{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#FFFFFF;
  background-color: #E5AD6C;
  border-color: transparent;
  border-radius: 13px;
  padding:9px 25px;
  letter-spacing: 1px;
  width:180px;
  cursor: pointer;
  z-index: 32873887827;
  margin-top: 430px;
  margin-left: -440px;
  position: absolute;
}

.ContentStrategyBUTTON:hover{
  background-color: #a8948b;
 }

 .CANVABUTTON{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#FFFFFF;
  background-color: #E5AD6C;
  border-color: transparent;
  border-radius: 13px;
  padding:8px 23px;
  letter-spacing: 1px;
  width:180px;
  cursor: pointer;
  z-index: 32873887827;
  margin-top: 1140px;
  margin-left: 180px;
  position: absolute;
}

.CANVABUTTON:hover{
  background-color: #a8948b;
 }

.LO4{
  position: relative;
  width: 940px;
  margin-top: -40px;
  margin-left: -40px;
  margin-bottom: 400px;
  background-color: #6C5E57;
  padding: 20px;
  border-radius: 8px;
  z-index: -1083784730;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.trello{
  position: absolute;
  margin-top:20px;
  margin-left:-60px;
  width: 450px;
  z-index: 2837374477;
  border-radius: 20px;
}
.video2 {
  width: 65%; /* Ensure the video fills its container */
  height: auto;
  border-radius: 10px;
  margin-top: 820px; 
  left: 20px;
  z-index: 737282929383;
  position: absolute;
}

/**LEARNING OUTCOME 5 popup contents**/
/**FOOTER**/
footer {
text-align: center;
line-height: 28px;
background-color: #6C5E57;
position: relative;
padding: 60px;
}

.contact-section h2{
color: #d7c7c0;
font-size: 37px;
letter-spacing: 6px;
margin-top: -30px;
margin-left: 450px;
position: absolute;
cursor: default;
font-family: "Luckiest Guy", cursive;
}

.contact-section a[href^="mailto"] {
color: #d7c7c0;
position: absolute;
margin-top: 20px;
margin-left: -105px;
font-family: "Nokora", sans-serif;
font-weight: bold;
}

/*phone number link */
.contact-section a[href^="tel"] {
color: #d7c7c0;
position: absolute;
margin-top: 10px;
margin-left: -50px;
font-family: "Nokora", sans-serif;
font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
  .menu-toggle {
      display: block;
  }
  
  .nav-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #6C5E57;
      z-index: 1000;
  }

  .nav-menu.open {
      display: flex;
  }

  .nav-menu ul {
      flex-direction: column;
  }

  .nav-menu li {
      padding: 15px;
  }

  .section {
      padding: 30px;
  }

  .card {
      width: 100%;
  }

  .popup {
      width: 90%;
  }
}